# === Entornos Virtuales===
.venv/
venv/
env/
ENV/

# === Ingonarar los datasets
data/

# === Modelos y Reportes de Entrenamiento ===
*.h5
*.tflite
*.pkl
*.png
*.log

# === Archivos temporales e IDEs ===
.vscode/
.idea/
__pycache__/
*.py[cod]
.DS_Store
Thumbs.db
